In [ ]:
import pandas as pd
import re

In [ ]:
df1 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/1화_완료.xlsx")
df2 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/3화_완료.xlsx")
df3 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/4화_완료.xlsx")
df4 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/12화_완료.xlsx")

df5 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/13화_완료.xlsx")
df6 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/14화_완성.xlsx")
df7 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/15화.xlsx")
df8 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/16화_완료(태영).xlsx")
df9 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/17화.xlsx")
df10 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/18화_완료.xlsx")
df11 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/19화_완료.xlsx")
df12 = pd.read_excel("/content/drive/Shareddrives/22-2 NLP 프로젝트/응팔 대본/20화_완료.xlsx")

In [ ]:
younghe = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12], ignore_index=True)
younghe

                     Q                                         A role
0                  NaN                                     ㅁ..미안   동룡
1                ㅁ..미안                       아..이 미친새끼 이따 좀 쳐 먹지   정환
2                  NaN                             나가서 걸레 좀 갖고와.   정환
3        나가서 걸레 좀 갖고와.                   부엌에 술빵 남은 거 있드라, 그것도 좀    동룡
4                  NaN                                   야, 우유도!   동룡
...                ...                                       ...  ...
2196               NaN               우리 엄마 외롭지 않게 해주셔서 감사합니다 아저씨   선우
2197               NaN  쌍문동에서 오신 치타 사모님이 조용히 계시면 식이 진행되도록 하겠습니다.   동룡
2198  야 사회 내가 본다고 그랬잖아                   사천에서 겨우 올라오 주제에 동룡이 잘 봐    택
2199               NaN                                    신랑 입장!   동룡
2200              친구들?                    네 동네 친구들이에요. 잘 부탁드립니다!   선우

[2201 rows x 3 columns]

In [ ]:
younghe['role'].isnull().sum()

6

In [ ]:
younghe = younghe.drop(younghe[younghe['role'].isnull()].index)

In [ ]:
younghe = younghe.reset_index(drop=True)
younghe

                     Q                                         A role
0                  NaN                                     ㅁ..미안   동룡
1                ㅁ..미안                       아..이 미친새끼 이따 좀 쳐 먹지   정환
2                  NaN                             나가서 걸레 좀 갖고와.   정환
3        나가서 걸레 좀 갖고와.                   부엌에 술빵 남은 거 있드라, 그것도 좀    동룡
4                  NaN                                   야, 우유도!   동룡
...                ...                                       ...  ...
2190               NaN               우리 엄마 외롭지 않게 해주셔서 감사합니다 아저씨   선우
2191               NaN  쌍문동에서 오신 치타 사모님이 조용히 계시면 식이 진행되도록 하겠습니다.   동룡
2192  야 사회 내가 본다고 그랬잖아                   사천에서 겨우 올라오 주제에 동룡이 잘 봐    택
2193               NaN                                    신랑 입장!   동룡
2194              친구들?                    네 동네 친구들이에요. 잘 부탁드립니다!   선우

[2195 rows x 3 columns]

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/kubig_nlp프로젝트/2화script.csv")
df1.drop('Unnamed: 0', axis=1,inplace=True)

df2 = pd.read_csv("/content/drive/MyDrive/kubig_nlp프로젝트/5화script.csv")
df2.drop('Unnamed: 0', axis=1,inplace=True)

df3 = pd.read_csv("/content/drive/MyDrive/kubig_nlp프로젝트/6화script.csv")
df3.drop('Unnamed: 0', axis=1,inplace=True)

df4 = pd.read_csv("/content/drive/MyDrive/kubig_nlp프로젝트/7화script.csv")
df4.drop('Unnamed: 0', axis=1,inplace=True)

df5 = pd.read_csv("/content/drive/MyDrive/kubig_nlp프로젝트/8화script.csv")
df5.drop('Unnamed: 0', axis=1,inplace=True)

df6 = pd.read_csv("/content/drive/MyDrive/kubig_nlp프로젝트/9화script.csv")
df6.drop('Unnamed: 0', axis=1,inplace=True)

df7 = pd.read_csv("/content/drive/MyDrive/kubig_nlp프로젝트/10화script.csv")
df7.drop('Unnamed: 0', axis=1,inplace=True)

df8 = pd.read_csv("/content/drive/MyDrive/kubig_nlp프로젝트/11화script.csv")
df8.drop('Unnamed: 0', axis=1,inplace=True)

In [ ]:
jay = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8], ignore_index=True)
jay

                               Q                             A role
0                  정환아. 한 마디 해라.         아, 진짜 이런 것 좀 하지 마세요.    정환
1                   ♪ 실례, 실례하세요.                           NaN   정환
2     ♪ 맞아! 맞아! 맞-아! 어떻게 알고 왔죠.                            NaN   정환
3             네.  근데 내일 바로 가신대요.                            야!   정환
4                            NaN                  손으로 드럽게, 씨..   정환
...                          ...                           ...  ...
1513                   너 또 밤 샜지.                          괜찮아.    택
1514                        괜찮아.                이제 큰 대회 다 끝났냐?   선우
1515              이제 큰 대회 다 끝났냐?                            응.    택
1516                          응.            아, 대회 좀 그만 잡으라 그래.   선우
1517                         ...  이제 최고위 끝났으니까 괜찮아. 내일은 좀 쉬려구.    택

[1518 rows x 3 columns]

In [ ]:
final = pd.concat([jay,younghe], ignore_index=True)
final

,Q,A,role
0,정환아. 한 마디 해라.,"아, 진짜 이런 것 좀 하지 마세요.",정환
1,"♪ 실례, 실례하세요.",NaN,정환
2,♪ 맞아! 맞아! 맞-아! 어떻게 알고 왔죠.,NaN,정환
3,네. 근데 내일 바로 가신대요.,야!,정환
4,NaN,"손으로 드럽게, 씨..",정환
...,...,...,...
3708,NaN,우리 엄마 외롭지 않게 해주셔서 감사합니다 아저씨,선우
3709,NaN,쌍문동에서 오신 치타 사모님이 조용히 계시면 식이 진행되도록 하겠습니다.,동룡
3710,야 사회 내가 본다고 그랬잖아,사천에서 겨우 올라오 주제에 동룡이 잘 봐,택
3711,NaN,신랑 입장!,동룡
3712,친구들?,네 동네 친구들이에요. 잘 부탁드립니다!,선우

In [ ]:
final.isnull().sum()

Q       1111
A        145
role       0
dtype: int64

In [ ]:
final.to_csv('/content/drive/MyDrive/kubig_nlp프로젝트/10 31/final_script.csv',encoding='UTF-8')